In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
from sklearn.datasets import load_iris
data = load_iris()
X = data.data
y = data.target

In [19]:
df = pd.read_csv('C:/Users/gane0/Videos/Bhavana/crimes.csv')
df1 = pd.read_csv('C:/Users/gane0/Videos/Bhavana/crimes1.csv')
data = pd.concat([df,df1],axis=1)
data.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Crime_Rate,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT_TO_MURDER,...,ARSON,HURT/GREVIOUS_HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,0,ANDHRA PRADESH,ADILABAD,2019,0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,...,30.0,1131.0,16.0,149.0,34.0,175.0,0.0,181.0,1518.0,4154.0
1,1,ANDHRA PRADESH,ANANTAPUR,2019,1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,...,69.0,1543.0,7.0,118.0,24.0,154.0,0.0,270.0,754.0,4125.0
2,2,ANDHRA PRADESH,CHITTOOR,2019,0,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,...,38.0,2088.0,14.0,112.0,83.0,186.0,0.0,404.0,1262.0,5818.0
3,3,ANDHRA PRADESH,CUDDAPAH,2019,1,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,...,23.0,795.0,17.0,126.0,38.0,57.0,0.0,233.0,1181.0,3140.0
4,4,ANDHRA PRADESH,EAST GODAVARI,2019,1,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,...,41.0,1244.0,12.0,109.0,58.0,247.0,0.0,431.0,2313.0,6507.0

## BASIC CHECKS

In [20]:
data.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Crime_Rate,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT_TO_MURDER,...,ARSON,HURT/GREVIOUS_HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,0,ANDHRA PRADESH,ADILABAD,2019,0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,...,30.0,1131.0,16.0,149.0,34.0,175.0,0.0,181.0,1518.0,4154.0
1,1,ANDHRA PRADESH,ANANTAPUR,2019,1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,...,69.0,1543.0,7.0,118.0,24.0,154.0,0.0,270.0,754.0,4125.0
2,2,ANDHRA PRADESH,CHITTOOR,2019,0,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,...,38.0,2088.0,14.0,112.0,83.0,186.0,0.0,404.0,1262.0,5818.0
3,3,ANDHRA PRADESH,CUDDAPAH,2019,1,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,...,23.0,795.0,17.0,126.0,38.0,57.0,0.0,233.0,1181.0,3140.0
4,4,ANDHRA PRADESH,EAST GODAVARI,2019,1,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,...,41.0,1244.0,12.0,109.0,58.0,247.0,0.0,431.0,2313.0,6507.0

In [21]:
data.tail()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Crime_Rate,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT_TO_MURDER,...,ARSON,HURT/GREVIOUS_HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
10672,832,Lakshadweep,Lakshadweep,2023,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10673,833,Lakshadweep,Total District(s),2023,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10674,834,Puducherry,Karaikal,2023,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10675,835,Puducherry,Puducherry,2023,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10676,836,Puducherry,Total District(s),2023,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
data.columns

Index(['Unnamed: 0', 'STATE/UT', 'DISTRICT', 'Year', 'Crime_Rate', 'STATE/UT',
       'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT_TO_MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING&ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO_THEFT', 'OTHER_THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS_HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

* Patient ID feature return twice

In [23]:
data.shape

(10677, 38)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 38 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           10677 non-null  int64
 1   STATE/UT                                             10677 non-null  object
 2   DISTRICT                                             10677 non-null  object
 3   Year                                                 10677 non-null  int64
 4   Crime_Rate                                           10677 non-null  int64
 5   STATE/UT                                             9840 non-null   object
 6   DISTRICT                                             9840 non-null   object
 7   YEAR                                                 9840 non-null   float64
 8   MURDER                                               9840 non-null   float64
 9   ATTEMPT_TO_MURDER                                    9840 non-null   float64
 10  CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9840 non-null   float64
 11  RAPE                                                 9840 non-null   float64
 12  CUSTODIAL RAPE                                       9840 non-null   float64
 13  OTHER RAPE                                           9840 non-null   float64
 14  KIDNAPPING&ABDUCTION                                 9840 non-null   float64
 15  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9840 non-null   float64
 16  KIDNAPPING AND ABDUCTION OF OTHERS                   9840 non-null   float64
 17  DACOITY                                              9840 non-null   float64
 18  PREPARATION AND ASSEMBLY FOR DACOITY                 9840 non-null   float64
 19  ROBBERY                                              9840 non-null   float64
 20  BURGLARY                                             9840 non-null   float64
 21  THEFT                                                9840 non-null   float64
 22  AUTO_THEFT                                           9840 non-null   float64
 23  OTHER_THEFT                                          9840 non-null   float64
 24  RIOTS                                                9840 non-null   float64
 25  CRIMINAL BREACH OF TRUST                             9840 non-null   float64
 26  CHEATING                                             9840 non-null   float64
 27  COUNTERFIETING                                       9840 non-null   float64
 28  ARSON                                                9840 non-null   float64
 29  HURT/GREVIOUS_HURT                                   9840 non-null   float64
 30  DOWRY DEATHS                                         9840 non-null   float64
 31  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9840 non-null   float64
 32  INSULT TO MODESTY OF WOMEN                           9840 non-null   float64
 33  CRUELTY BY HUSBAND OR HIS RELATIVES                  9840 non-null   float64
 34  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9840 non-null   float64
 35  CAUSING DEATH BY NEGLIGENCE                          9840 non-null   float64
 36  OTHER IPC CRIMES                                     9840 non-null   float64
 37  TOTAL IPC CRIMES                                     9840 non-null   float64
dtypes: float64(31), int64(3), object(4)
memory usage: 3.1+ MB

In [13]:
data.describe()

,Unnamed: 0,Year,Crime_Rate,YEAR,MURDER,ATTEMPT_TO_MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,...,ARSON,HURT/GREVIOUS_HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,10677.000000,10677.000000,10677.00000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,...,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000
mean,3871.570198,2020.377353,0.42231,2007.161890,88.565854,78.738618,9.754878,55.456098,0.005488,55.450610,...,25.012398,753.362805,20.179878,106.482520,27.772967,202.046138,0.187602,226.296951,2214.523171,5404.141463
std,2816.369918,2.279970,0.49395,3.755581,325.417692,306.650391,58.733349,201.690457,0.111218,201.676202,...,97.601717,3059.322654,97.446611,423.729483,170.367098,869.325453,2.319261,952.900601,8199.391921,18941.271529
min,0.000000,2016.000000,0.00000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2019.000000,0.00000,2004.000000,18.000000,10.000000,0.000000,8.000000,0.000000,8.000000,...,2.000000,43.750000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,264.000000,857.750000
50%,3678.000000,2021.000000,0.00000,2007.000000,37.000000,28.000000,2.000000,21.000000,0.000000,21.000000,...,8.000000,199.000000,5.000000,33.000000,2.000000,49.000000,0.000000,70.000000,750.000000,2130.500000
75%,6347.000000,2022.000000,1.00000,2010.000000,66.000000,57.000000,6.000000,43.000000,0.000000,43.000000,...,19.000000,533.250000,16.000000,80.000000,13.000000,139.250000,0.000000,180.000000,1631.000000,4025.000000
max,9016.000000,2024.000000,1.00000,2013.000000,7601.000000,7964.000000,1616.000000,4335.000000,5.000000,4335.000000,...,2830.000000,60488.000000,2335.000000,8252.000000,4970.000000,19865.000000,83.000000,16076.000000,127850.000000,234385.000000

In [14]:
# Changing column name: 
data.rename({'slope_of_peak_exercise_st_segment':'sop','resting_blood_pressure':'resting_bp','chest_pain_type':'cpt',
            'num_major_vessels':'major_vessels','fasting_blood_sugar_gt_120_mg_per_dl':'fasting_blood_sugar',
            'resting_ekg_results':'ekg_result','serum_cholesterol_mg_per_dl':'serum_cholesterol',
            'oldpeak_eq_st_depression':'oldpeak_st_depression','max_heart_rate_achieved':'max_heart_rate',
             'heart_disease_present':'heart_disease'},inplace=True,axis=1)

In [15]:
univariate = data[['YEAR','RAPE','KIDNAPPING&ABDUCTION','OTHER_THEFT','ATTEMPT_TO_MURDER','MURDER','THEFT',
                  'RIOTS','CHEATING','ARSON','BURGLARY','AUTO_THEFT','COUNTERFIETING',
                   'HURT/GREVIOUS_HURT']]

In [16]:
data.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Crime_Rate,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT_TO_MURDER,...,ARSON,HURT/GREVIOUS_HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,0,ANDHRA PRADESH,ADILABAD,2019,0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,60.0,...,30.0,1131.0,16.0,149.0,34.0,175.0,0.0,181.0,1518.0,4154.0
1,1,ANDHRA PRADESH,ANANTAPUR,2019,1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,125.0,...,69.0,1543.0,7.0,118.0,24.0,154.0,0.0,270.0,754.0,4125.0
2,2,ANDHRA PRADESH,CHITTOOR,2019,0,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,57.0,...,38.0,2088.0,14.0,112.0,83.0,186.0,0.0,404.0,1262.0,5818.0
3,3,ANDHRA PRADESH,CUDDAPAH,2019,1,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,53.0,...,23.0,795.0,17.0,126.0,38.0,57.0,0.0,233.0,1181.0,3140.0
4,4,ANDHRA PRADESH,EAST GODAVARI,2019,1,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,67.0,...,41.0,1244.0,12.0,109.0,58.0,247.0,0.0,431.0,2313.0,6507.0

In [ ]:
sns.barplot(x='YEAR',y='RAPE',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
sns.barplot(x='YEAR',y='ROBBERY',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
sns.barplot(x='YEAR',y='THEFT',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
sns.barplot(x='YEAR',y='RIOTS',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
sns.barplot(x='YEAR',y='CHEATING',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
sns.barplot(x='YEAR',y='ARSON',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
sns.barplot(x='YEAR',y='ATTEMPT_TO_MURDER',hue=data.Crime_Rate,data=data)
plt.show()

In [ ]:
data.isnull().sum()

In [ ]:
# In this dataset only one categorical data-type feature 
# we use manual encoding to convert categorical data to numerical 
# Getting the value counts of thal
data.RAPE.value_counts()

In [ ]:
data.RAPE = data.RAPE.map({'normal':2,'reversible_defect':1,'fixed_defect':0})
# normal is assign with value 2 because normal has more weightage
# reversible defect assign with value 1 because of less weightage than normal
# fixed defect assign with value 0 because of less weightage

In [ ]:
# checking the unique value of thal
data.RAPE.unique()

#### 3.OUTLIER HANDLING
* Handling outlier if it is necessary

In [ ]:
out = data[['MURDER','ROBBERY','THEFT','RIOTS','ROBBERY']]
sns.set_style('darkgrid')
plt.figure(figsize=(20,22)) # defining canvas size
plotno = 1 # counter

for column in out: # iteration of columns / acessing the columns from  dataset 
    if plotno<=6:    # set the limit
        plt.subplot(3,2,plotno) # # plotting 5 graphs (3-rows,2-columns) ,plotnumber is for count
        sns.distplot(x=out[column]) # Plotting dist plots 
        plt.xlabel(column,fontsize=20)  # assigning name to x-axis and font size is 20
    plotno+=1 # counter increment
plt.tight_layout()
plt.show() # used to hide the storage loction

In [ ]:
out = data[['MURDER','THEFT','RIOTS']]
sns.set_style('darkgrid')
plt.figure(figsize=(20,22)) # defining canvas size
plotno = 1 # counter

for column in out: # iteration of columns / acessing the columns from  dataset 
    if plotno<=6:    # set the limit
        plt.subplot(3,2,plotno) # # plotting 3 graphs (3-rows,2-columns) ,plotnumber is for count
        sns.distplot(x=out[column]) # Plotting dist plots 
        plt.xlabel(column,fontsize=20)  # assigning name to x-axis and font size is 20
    plotno+=1 # counter increment
plt.tight_layout()
plt.show() # used to hide the storage loction

In [ ]:
# import library
from sklearn.preprocessing import StandardScaler

# Creating object
scale = StandardScaler()

# Scaling the feature 
data[['RAPE','ROBBERY','THEFT','CHEATING','ARSON']] = scale.fit_transform(data[['RAPE','ROBBERY','THEFT','CHEATING','ARSON']])

In [ ]:
# Check constant column
data.describe()

In [ ]:
# check the shape of X train, y train, X test and y test
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
# Step:1 importing library
from sklearn.linear_model import LogisticRegression

# Step:2 Object creation
log_model = LogisticRegression()

# Step:3 Fitting the training data
log_model.fit(X_train,y_train)

# Step:4 Prediction on test data
y_log_predict = log_model.predict(X_test)

# Step:5 Prediction on training data
train_log_predict = log_model.predict(X_train)

In [ ]:
# importing library
from sklearn.metrics import accuracy_score,recall_score,f1_score,classification_report
log_train_accuracy = accuracy_score(train_log_predict,y_train)
print("Training accuracy of Logistic regression model",log_train_accuracy*100)
print("Logistic regression training Classification report: \n",classification_report(train_log_predict,y_train))

In [ ]:
# crosstab of logistic regression
pd.crosstab(y_log_predict,y_test)

In [ ]:
# Step:1 Taking the optimal value of k
from sklearn.neighbors import KNeighborsClassifier
error_rate = [] # Creating empty list
for i in range(1,11):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    y_knn_predict = knn.predict(X_test)
    error_rate.append(np.mean(y_knn_predict != y_test))
print("Error rate:",error_rate)

In [ ]:
# Step:2 Plotting the error rate
plt.figure(figsize=(10,6))
plt.plot(range(1,11),error_rate,color='blue', linestyle='dashed',marker='o',markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value')
plt.xlabel('K')
plt.ylabel('Error Rate')
plt.show()

In [ ]:
# Step:3 Get nearst neighbors
knn1 = KNeighborsClassifier(n_neighbors=3)

# Step:4 Fitting the training data
knn1.fit(X_train,y_train)

# Step:5 Prediction on testing data
knn_test_predict = knn1.predict(X_test)

# Step:6 Prediction on training data
knn_train_predict = knn1.predict(X_train)

In [ ]:
knn_train_accuracy = accuracy_score(knn_train_predict,y_train)
print("Training accuracy of knn model ",knn_train_accuracy)
print("Training classification report:\n",classification_report(knn_train_predict,y_train))

In [ ]:
knn_test_accuracy = accuracy_score(knn_test_predict,y_test)
print("Testing accuracy of knn model",knn_test_accuracy*100)
print("Testing classification report: \n",classification_report(knn_test_predict,y_test))

In [ ]:
# Cross tab
pd.crosstab(knn_test_predict,y_test)

In [ ]:
# Step:1 importing libary and creating object
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100) # 100 decision tree

# Step:2 fitting training data
rf.fit(X_train,y_train)

# Step:3 Prediction on testing data
rf_test_predict = rf.predict(X_test)

# Step:4 Prediction on training data
rf_train_predict = rf.predict(X_train)

In [ ]:
rf_train_accuracy = accuracy_score(rf_train_predict,y_train)
print("Training accuracy of random forest",rf_train_accuracy)
print("Classification report of training: \n",classification_report(rf_train_predict,y_train))

In [ ]:
rf_test_accuracy = accuracy_score(rf_test_predict,y_test)
print("Testing accuracy of random forest",rf_test_accuracy*100)
print("Classification report of testing: \n",classification_report(rf_test_predict,y_test))

In [ ]:
# Cross tab
pd.crosstab(rf_test_predict,y_test)